Screen {
    layout:vertical;
}

.row {
    height: 1fr;
}

.column {
    width: 1fr;
}

.instruments {
    overflow-x: auto;
}

.instruments>* {
    width:14;
}

.notes {
    width:2fr
}

.bar {
    height:3;
    align-horizontal: center;
}